<div class="container">
    <div class="row" style="border-color: whitesmoke; padding: 5px;">
      <div class="col-lg-12" style="background-color: blue; height: 50px;"> blue</div>
    </div>

    <div class="row" style="border-color: whitesmoke; padding: 5px;">
        <div class="col-lg-6" style="background-color: red;  height: 50px;"> blue</div>  
        <div class="col-lg-6" style="background-color:pink;  height: 50px;"> blue</div> 
    </div>

    <div class="row" style="border-color: whitesmoke; padding: 5px;">
        <div class="col-lg-4" style="background-color:gold;  height: 50px;"> blue</div>  
        <div class="col-lg-4" style="background-color:aqua;  height: 50px;"> blue</div> 
        <div class="col-lg-4" style="background-color:bisque;  height: 50px;"> blue</div>
    </div>

    <div class="row" style="border-color: whitesmoke; padding: 5px;">
        <div class="col-lg-3" style="background-color:rgb(124, 122, 136);  height: 50px;"> blue</div>  
        <div class="col-lg-3" style="background-color:rgb(40, 167, 167);  height: 50px;"> blue</div> 
        <div class="col-lg-3" style="background-color:rgb(143, 90, 25);  height: 50px;"> blue</div>
        <div class="col-lg-3" style="background-color:rgb(75, 42, 2);  height: 50px;"> blue</div>
    </div>

    <div class="row" style="border-color: whitesmoke; padding: 5px;">
        <div class="col-lg-2" style="background-color:rgb(62, 45, 161);  height: 70px;"> blue</div>  
        <div class="col-lg-2" style="background-color:rgb(22, 54, 54);  height: 70px;"> blue</div> 
        <div class="col-lg-2" style="background-color:rgb(231, 196, 152);  height: 70px;"> blue</div>
        <div class="col-lg-2" style="background-color:rgb(112, 184, 106);  height: 70px;"> blue</div>
        <div class="col-lg-2" style="background-color:rgb(158, 134, 104);  height: 70px;"> blue</div>
        <div class="col-lg-2" style="background-color:rgb(2, 64, 75);  height: 70px;"> blue</div>
    </div>
    <div class="row" style="border-color: whitesmoke; padding: 5px;">
        <div class="col-lg-1" style="background-color:rgb(143, 141, 155);  height: 70px;"> blue</div>  
        <div class="col-lg-1" style="background-color:rgb(22, 54, 54);  height: 70px;"> blue</div> 
        <div class="col-lg-1" style="background-color:rgb(231, 196, 152);  height: 70px;"> blue</div>
        <div class="col-lg-1" style="background-color:rgb(112, 184, 106); height: 70px;"> blue</div>
        <div class="col-lg-1" style="background-color:rgb(158, 134, 104); height: 70px;"> blue</div>
        <div class="col-lg-1" style="background-color:rgb(2, 64, 75); height: 70px;"> blue</div>
        <div class="col-lg-1" style="background-color:rgb(255, 0, 170); height: 70px;"> blue</div>
        <div class="col-lg-1" style="background-color:rgb(204, 51, 166); height: 70px;"> blue</div>
        <div class="col-lg-1" style="background-color:rgb(228, 120, 195); height: 70px;"> blue</div>
        <div class="col-lg-1" style="background-color:rgb(145, 106, 124); height: 70px;"> blue</div>
        <div class="col-lg-1" style="background-color:rgb(245, 189, 212); height: 70px;"> blue</div>
        <div class="col-lg-1" style="background-color:rgb(233, 201, 221); height: 70px;"> blue</div>
    </div>
</div>
